<div class="menyy">
    <ul>
        <li><a href="/">Esileht</a></li>
        <li><a href="./uudised">Uudised</a></li>
        <li><a href="./registreerimine">Registreeru</a></li>
        <li><a href="./kontakt">Kontakt</a></li>
    </ul>
</div>