<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Matkaklubi - kontakt</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
		<link
			href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="matkaklubi.css" />
	</head>
	<body>
		<div class="container mt-4">
			<div class="row menyyriba pt-6">
				<div class="logo col-6">
					<img class="klubilogo" src="./pildid/klubilogo.png" alt="" />
					<div class="klubinimi">Puhas Higi</div>
				</div>
                <%- include ("../partials/matkamenyy.ejs") %>
			</div>
			<h1 class="mt-3">Matkaklubi uudised</h1>
			<div class="uudised">
                <div class="postitus pt-3">
                    <div class="d-flex justify-content-between">
                        <h3>Kõige esimene uudis</h3>
                        <div class="postitus-kuupaev">24.02.2021</div>
                    </div>
                    <div class="row">
                        <div class="d-none d-lg-block col-lg-4">
                            <img class="img-fluid" src="./pildid/rattamatk.jpg" alt="Chania">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi alias quod quisquam iusto, amet dolorem ullam illo, qui quis, veniam facere ab quaerat non aliquid velit soluta fuga a at?
                            </p>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est facilis autem quas amet doloribus voluptatum saepe, nobis sequi et minima aliquam sed vitae rerum sint, iste animi reiciendis molestias qui?
                            </p>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique error obcaecati omnis voluptas impedit, quibusdam, harum alias ex tempora aperiam soluta maiores nulla necessitatibus aliquid molestiae. Laudantium accusantium doloribus molestias!
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, magnam! Blanditiis quisquam molestias at, odio, nemo vel reprehenderit repudiandae doloremque pariatur excepturi ut repellendus ipsum similique? Reiciendis neque quibusdam deserunt.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="postitus pt-3">
                    <div class="d-flex justify-content-between">
                        <h3>Natuke vanem uudis</h3>
                        <div class="postitus-kuupaev">04.02.2021</div>
                    </div>
                    <div class="row">
                        <div class="d-none d-lg-block col-lg-4">
                            <img class="img-fluid" src="./pildid/syst_krabi.jpg" alt="Chania">
                        </div>
                        <div class="col-lg-8">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi alias quod quisquam iusto, amet dolorem ullam illo, qui quis, veniam facere ab quaerat non aliquid velit soluta fuga a at?
                            </p>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est facilis autem quas amet doloribus voluptatum saepe, nobis sequi et minima aliquam sed vitae rerum sint, iste animi reiciendis molestias qui?
                            </p>
                        </div>
                    </div>
                </div>

			</div>
		</div>
	</body>
</html>
